<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <% if (locals.error) { %>
  <div class="alert alert-danger" role="alert">
     <%= locals.error %>
  </div>
  <% } %>
  <%- include('./partials/nav.ejs') %>

  <form action="/signin" method="post" class="p-4 m-4 border rounded shadow-sm">

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter your email" required>
      <div id="emailHelp" class="form-text">Enter your registered email address.</div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Sign In</button>
  </form>



  <%- include('./partials/scripts.ejs') %>
</body>

</html>